@import "../../styles/colors";
@import "../../styles/globals";

.pillow-components {
  min-height: calc(100vh - $header-height);
  width: 100%;
  margin-left: $sidebar-width;
  max-width: calc(100% - $sidebar-width);

  h2 {
    margin-bottom: $padding-regular;
  }

  &__content {
    padding: $padding-regular;
    max-width: $content-width-max;

    &-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-rows: 1fr;
    }

    &-item {
      display: flex;
      flex-direction: column;
      border: 1px solid $border;
      border-radius: $border-radius;

      h4 {
        padding: $padding-regular;
      }
    }

    &-item-body {
      padding: $padding-regular;
      height: 100%;
      width: 100%;
      background-color: var(--bg-color);

      * {
        background-color: var(--bg-color);
        color: var(--text-color);
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .pillow-components {
    &__content {
      transition: all 0.2s ease-in-out;

      &-items {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &__content.open {
      transform: translateX(140px);
    }
  }
}

@media screen and (max-width: 880px) {
  .pillow-components {
    &__content {
      &-items {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .pillow-components {
    overflow: hidden;
    margin-left: 60px;
    max-width: calc(100% - 60px);
  }
}
