@import "../../styles/colors";

.pillow-components {
  min-height: calc(100vh - 56px);
  width: 100%;
  margin-left: 200px;
  max-width: calc(100% - 200px);

  h2 {
    margin-bottom: 10px;
  }

  &__content {
    padding: 10px;
    max-width: 1200px;

    &-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-rows: 1fr;
    }

    &-item {
      display: flex;
      flex-direction: column;
      border: 1px solid $border;
      border-radius: 5px;

      h4 {
        padding: 10px;
      }
    }

    &-item-body {
      padding: 10px;
      height: 100%;
      width: 100%;
      background-color: $background-darker;
      max-height: 250px;
      overflow-y: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .pillow-components {
    &__content {
      transition: all 0.2s ease-in-out;

      &-items {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &__content.open {
      transform: translateX(140px);
    }
  }
}

@media screen and (max-width: 880px) {
  .pillow-components {
    &__content {
      &-items {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .pillow-components {
    overflow: hidden;
    margin-left: 60px;
    max-width: calc(100% - 60px);
  }
}
