@import "../../styles/colors";
@import "../../styles/globals";

.pillow-latest {
  height: $content-height;
  width: 100%;
  margin-left: $content-left-margin;
  max-width: $content-width;

  &__content {
    padding: $padding-regular;

    &-item {
      margin-bottom: $padding-regular;
    }
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .pillow-latest {
    overflow: hidden;
    margin-left: 60px;
    max-width: calc(100% - 60px);

    &__content {
      padding-left: 0;
      transition: $transition-regular;
    }

    &__content.open {
      transform: translateX(200px);
    }
  }
}
