@import "../../styles/globals";
@import "../../styles/mixins";

.pillow-installation {
  min-height: $content-height;
  width: 100%;
  margin-left: $content-left-margin;
  max-width: $content-width;

  &__content {
    padding: $padding-regular;

    &-item {
      margin-bottom: $padding-regular;
    }

    &-text {
      max-width: 600px;

      &--highlight {
        background-color: var(--site-highlight-color);
        padding: 0 3px;
        border-radius: $border-radius;
        margin: 0 2px;
        border: 1px solid var(--site-border-color);
        white-space: nowrap;
      }

      &--code {
        position: relative;
        background-color: var(--site-bg-alt-color);
        color: var(--site-text-color);
        padding: $padding-regular;
        padding-right: 50px;
        display: flex;
        border-radius: $border-radius;
        max-width: 600px;
        border: 1px solid var(--site-border-color);

        &-copy {
          @include pos(absolute, $top: 8px, $right: 8px);
          cursor: pointer;
          padding: 0 5px;
          background-color: var(--site-bg-alt-color);
          border-radius: $border-radius;
          border: 1px solid var(--site-border-color);
          transition: $transition-regular;

          &:hover {
            filter: brightness(0.975);
          }
        }

        &:not(:last-of-type) {
          margin-bottom: $padding-regular;
        }
      }
    }
  }

  &__tablist {
    display: flex;
    gap: $padding-regular;

    &-button {
      display: flex;
      align-items: center;
      gap: $padding-small;
      background: none;
      margin: $padding-regular 0;
      padding: 0;
      border: none;
      border-bottom: 1px solid transparent;

      svg {
        width: $icon-regular;
        height: $icon-regular;
      }

      &--selected {
        border-bottom: 1px solid #c3c7da;
      }
    }
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .pillow-installation {
    overflow: hidden;
    margin-left: 60px;
    max-width: calc(100% - $sidebar-button-width);

    &__content {
      padding-left: 0;
      transition: $transition-regular;
    }

    &__content.open {
      transform: translateX($sidebar-width - $sidebar-button-width);
    }
  }
}
