@import "../../styles/colors";
@import "../../styles/globals";
@import "../../styles/mixins";

.pillow-notfound {
  @include flex($dir: column, $jus: center, $ali: center);
  height: calc(100vh - $header-height);
  width: 100%;

  h2 {
    @include flex($ali: center);
    margin-bottom: $padding-regular;
  }

  &__divider {
    width: 1px;
    background: var(--text-color);
    height: 100%;
    height: 20px;
    margin: 0 $padding-regular;
  }

  h2 span {
    font-size: $text-regular;
  }

  button {
    cursor: pointer;
    border-radius: $border-radius;
    color: var(--text-color);
    background: var(--gradient);
    border: 1px solid var(--border-color);
    padding: $padding-button;
    transition: $transition-regular;
  }
}
