$content-height: calc(100vh + 83px);
$content-width: calc(100% - 220px);
$content-width-max: 1200px;
$content-width-mobile: calc(100% - 60px);
$content-left-margin: 195px;

$sidebar-width: 200px;

$header-height: 62px;

$hero-height: 700px;

$text-regular: 14px;
$text-large: 18px;

$padding-small: 8px;
$padding-regular: 15px;

$transition-regular: all 0.25s ease-in-out;

$border-radius: 8px;
$border-radius-max: 999px;

$icon-regular: 20px;
$icon-large: 26px;

$z-top: 10;
