// Global variables
$header-height: 63px;
$header-height-mobile: 60px;

$content-height: calc(100vh - $header-height);
$content-width: calc(100% - 200px);
$content-width-max: 1400px;
$content-width-mobile: calc(100% - 60px);
$content-left-margin: 195px;

$sidebar-width: 200px;
$sidebar-button-width: 60px;

$hero-height: 700px;

$text-small: 12px;
$text-regular: 14px;
$text-large: 18px;

$padding-small: 5px;
$padding-regular: 15px;
$padding-large: 20px;

$padding-button: 8px 15px;

$transition-regular: all 0.25s ease-in-out;

$border-radius: 8px;
$border-radius-max: 999px;

$icon-small: 16px;
$icon-regular: 20px;
$icon-large: 32px;

$z-top: 10;

$tablet-breakpoint: 960px;
$mobile-breakpoint: 680px;

// Global Styles
@import "./mixins";

.pillow-ui-app {
  background-color: var(--page-bg);
  color: var(--text-color);
}

.link__global {
  @include flex($ali: center);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  width: fit-content;
  padding: $padding-button;
  border-radius: $border-radius;
  margin: $padding-regular 0;

  svg {
    width: $icon-small;
    height: $icon-small;
    margin-right: $padding-small;
  }
}

svg {
  stroke: var(--text-color);
  fill: var(--text-color);
}
