@import "../../styles/globals";
@import "../../styles/mixins";

.pillow-home {
  @include flex($dir: column);

  &__header {
    font-size: $text-large;
  }
  &__shape-container {
    @include flex($jus: flex-end, $ali: center);
    @include pos(absolute, $top: 0, $right: -200px);
    width: 100%;
    height: 100%;
  }

  &__hero {
    position: relative;
    width: 100%;
    height: $hero-height;
    background-color: var(--bg-color);
    overflow: hidden;

    & > div {
      width: $content-width;
      max-width: $content-width-max;
      height: 100%;
      margin: auto;
    }

    &-content {
      @include flex($dir: column, $jus: center, $ali: flex-start);
      position: relative;
      width: 600px;
      height: 100%;
      z-index: 2;
    }

    h1 {
      font-size: $text-extralarge;
      margin-bottom: $padding-regular;
    }

    p {
      margin-bottom: $padding-regular;
    }

    img {
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      transform: rotate(180deg);
      z-index: 1;
    }
  }

  &__overview {
    padding-top: 100px;

    & > div {
      width: $content-width;
      max-width: $content-width-max;
      margin: auto;
    }

    h3 {
      margin-bottom: $padding-regular;
    }

    &-items {
      display: flex;
      gap: $padding-regular;
    }

    &-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: $padding-regular;
      border: 1px solid var(--site-border-color);
      border-radius: $border-radius;

      svg {
        height: $icon-large;
        width: $icon-large;
        margin-bottom: $padding-regular;
        transition: $transition-regular;
      }
    }
  }

  &__getting-started {
    padding-top: 100px;

    & > div {
      width: $content-width;
      max-width: $content-width-max;
      margin: auto;
    }

    h3 {
      margin-bottom: $padding-regular;
    }

    &-items {
      display: flex;
      gap: $padding-regular;
    }

    &-item {
      padding: $padding-regular;
      border-radius: $border-radius;
      width: 50%;
      position: relative;
      overflow: hidden;
      transition: $transition-regular;
      border: 1px solid var(--site-border-color);

      a {
        text-decoration: underline;
      }

      & p {
        margin-bottom: $padding-regular;
      }

      svg {
        @include pos(absolute, $top: 10px, $right: 10px);
        height: $icon-large;
        width: $icon-large;
        transition: $transition-regular;
      }
    }
  }

  &__recents {
    padding-top: 100px;

    & > div {
      width: $content-width;
      max-width: $content-width-max;
      margin: auto;
    }

    h3 {
      margin-bottom: $padding-regular;
    }

    &-items {
      display: flex;
      gap: $padding-regular;
    }

    &-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 1px solid var(--site-border-color);
      border-radius: $border-radius;

      > h4 {
        padding: $padding-regular;
      }
    }

    &-body {
      @include flex($jus: center, $ali: center);
      width: calc(100% - (2 * $padding-regular));
      background-color: var(--bg-color);
      border-radius: $border-radius;
      height: 100%;
      padding: $padding-regular;
      margin: 0 $padding-regular;

      span {
        display: flex;
        position: relative;
      }
    }

    a {
      display: inline-block;
      cursor: pointer;
      border: none;
      border-radius: $border-radius;
      background: var(--site-accent-color);
      color: #fff;
      padding: $padding-button;
      transition: $transition-regular;
      width: fit-content;
      text-align: center;
      margin: 0 0 $padding-regular $padding-regular;
    }

    &-options {
      padding: $padding-regular;

      button {
        border: none;
        background: none;
        text-decoration: underline;
        cursor: pointer;
        color: var(--site-text-color);

        &:not(:last-child) {
          margin-right: $padding-regular;
        }
      }
    }
  }

  &__external-links {
    margin-top: 100px;
    padding: 100px 0;
    background-color: var(--site-bg-alt-color);

    & > div {
      width: $content-width;
      max-width: $content-width-max;
      margin: auto;
    }

    h3 + p {
      margin-bottom: $padding-regular;
    }

    &-items {
      display: flex;
      gap: $padding-regular;
    }

    &-item {
      @include flex($jus: space-between, $ali: center);
      width: 100%;
      background-color: var(--site-bg-color);
      border-radius: $border-radius;
      padding: $padding-regular;
      position: relative;

      svg {
        height: $icon-large;
        width: $icon-large;
      }
    }
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .pillow-home__overview-items,
  .pillow-home__recents-items,
  .pillow-home__getting-started-items,
  .pillow-home__external-links-items {
    flex-direction: column;
  }
  .pillow-home__getting-started-item,
  .pillow-home__external-links-item {
    width: 100%;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .pillow-home__hero {
    height: 500px;

    &-content {
      max-width: calc(100% - 40px);
    }
  }
  .pillow-home__hero > div,
  .pillow-home__overview > div,
  .pillow-home__getting-started > div,
  .pillow-home__recents > div,
  .pillow-home__external-links > div {
    width: 100%;
  }

  .pillow-home__hero,
  .pillow-home__getting-started,
  .pillow-home__external-links {
    padding: 60px 20px;
  }

  .pillow-home__getting-started-item p {
    max-width: calc(100% - 100px);
  }

  .pillow-home__overview {
    padding: 60px 20px 0 20px;
  }

  .pillow-home__recents {
    padding: 0 20px 60px 20px;
  }

  .pillow-home__external-links {
    margin-top: 0;
  }
}
