@import "../../styles/colors";
@import "../../styles/globals";
@import "../../styles/mixins";

.pillow-home {
  @include flex($dir: column);

  &__header {
    font-size: $text-large;
  }

  &__hero {
    position: relative;
    width: 100%;
    height: $hero-height;
    background-color: $background-darker;
    overflow: hidden;
    padding: 100px;

    & > div {
      width: $content-width;
      max-width: 100%;
      height: 100%;
      margin: auto;
    }

    &-content {
      @include flex($dir: column, $jus: center, $ali: flex-start);
      position: relative;
      width: 600px;
      height: 100%;
      z-index: 2;
    }

    h1 {
      font-size: 26px;
      margin-bottom: $padding-regular;
    }

    p {
      margin-bottom: $padding-regular;
    }

    button {
      cursor: pointer;
      border: none;
      border-radius: $border-radius;
      color: #fff;
      // background: $highlight;
      filter: opacity(0.75);
      padding: 5px 15px;
      transition: all 0.2s ease-in-out;
    }

    img {
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      transform: rotate(180deg);
      z-index: 1;
    }
  }

  &__overview {
    padding: 100px 100px 0 100px;

    & > div {
      width: $content-width;
      max-width: 100%;
      margin: auto;
    }

    h3 {
      margin-bottom: $padding-regular;
    }

    &-items {
      display: flex;
      gap: $padding-regular;
    }

    &-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: $padding-regular;
      border: 1px solid $border;
      border-radius: $border-radius;

      svg {
        height: 50px;
        width: 50px;
        margin-bottom: $padding-regular;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  &__getting-started {
    padding: 100px;

    & > div {
      width: $content-width;
      max-width: 100%;
      margin: auto;
    }

    h3 {
      margin-bottom: $padding-regular;
    }

    &-items {
      display: flex;
      gap: $padding-regular;
    }

    &-item {
      padding: $padding-regular;
      border-radius: $border-radius;
      width: 50%;
      position: relative;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
      border: 1px solid $border;

      &:hover {
        svg {
          color: $highlight;
        }
      }

      a {
        text-decoration: underline;
      }

      & p {
        margin-bottom: $padding-regular;
      }

      svg {
        @include pos(absolute, $top: 10px, $right: 10px);
        height: 50px;
        width: 50px;
        color: darken($background-darker, 10%);
        transition: all 0.2s ease-in-out;
      }
    }
  }

  &__recents {
    padding: 0 100px 100px 100px;

    & > div {
      width: $content-width;
      max-width: 100%;
      margin: auto;
    }

    h3 {
      margin-bottom: $padding-regular;
    }

    &-items {
      display: flex;
      gap: $padding-regular;
    }

    &-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 1px solid $border;
      border-radius: $border-radius;

      > h4 {
        padding: $padding-regular;
      }
    }

    &-body {
      @include flex($jus: center, $ali: center);
      width: 100%;
      background-color: $background-darker;
      height: 100%;
      padding: $padding-regular;

      span {
        display: flex;
        position: relative;

        svg {
          width: $icon-regular;
          height: $icon-regular;
        }
      }
    }

    a {
      display: inline-block;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      color: #fff;
      background: $highlight;
      padding: 5px 15px;
      transition: all 0.2s ease-in-out;
      width: fit-content;
      text-align: center;
      margin: 0 0 $padding-regular $padding-regular;
    }

    &-options {
      padding: $padding-regular;

      button {
        border: none;
        background: none;
        text-decoration: underline;
        cursor: pointer;
        color: $text;

        &:not(:last-child) {
          margin-right: $padding-regular;
        }
      }
    }
  }

  &__external-links {
    padding: 100px;
    background-color: $background-darker;

    & > div {
      width: $content-width;
      max-width: 100%;
      margin: auto;
    }

    h3 + p {
      margin-bottom: $padding-regular;
    }

    &-items {
      display: flex;
      gap: $padding-regular;
    }

    &-item {
      width: 100%;
      background-color: $background;
      border-radius: $border-radius;
      padding: 20px 10px;
      position: relative;

      &:hover svg {
        color: $highlight;
      }

      svg {
        @include pos(absolute, $top: 50%, $right: $padding-regular);
        transform: translate(0, -50%);
        height: 50px;
        width: 50px;
        color: darken($background-darker, 10%);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .pillow-home__getting-started-items,
  .pillow-home__external-links-items {
    flex-direction: column;
  }
  .pillow-home__getting-started-item,
  .pillow-home__external-links-item {
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .pillow-home__hero {
    height: 500px;

    &-content {
      left: 20px;
      max-width: calc(100% - 40px);
    }
  }
  .pillow-home__hero,
  .pillow-home__getting-started,
  .pillow-home__external-links {
    padding: 60px 20px;
  }

  .pillow-home__getting-started-item p {
    max-width: calc(100% - 100px);
  }

  .pillow-home__overview {
    padding: 60px 20px 0 20px;
  }

  .pillow-home__recents {
    padding: 0 20px 60px 20px;
  }

  .pillow-home__overview-items,
  .pillow-home__recents-items {
    flex-direction: column;
  }
}
