@import "../../styles/colors";

.pillow-example {
  min-height: calc(100vh - 65px);
  width: 100%;
  margin-left: 200px;
  max-width: calc(100% - 200px);

  h2 {
    margin-bottom: 20px;
  }

  &__content {
    padding: 20px;

    &-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      grid-auto-rows: 1fr;
    }

    &-item {
      border: 1px solid $border;
      border-radius: 3px;

      h4 {
        padding: 20px;
      }
    }

    &-item-body {
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: $background-darker;
    }
  }
}

.component-container::-webkit-scrollbar {
  display: none;
}

.component-container {
  overflow-y: scroll;

  &__example {
    margin-bottom: 20px;
    background-color: $background-darker;
    padding: 20px;
    border-radius: 3px;

    > div:not(:last-child) {
      margin-bottom: 20px;
    }

    > button:not(:last-child) {
      margin-right: 20px;
    }
  }

  h3,
  h4 {
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border: 1px solid $border;
    border-radius: 3px;
    border-collapse: collapse;
    overflow-y: scroll;

    th {
      text-align: left;
      padding: 20px;
    }

    td {
      padding: 20px;

      code {
        padding: 3px;
        display: inline;
        border: 1px solid darken($background-darker, 15%);
      }
    }

    tr {
      padding: 20px;
      border-top: 1px solid $border;
      border-radius: 3px;
    }
  }

  &__api {
    p {
      margin-bottom: 20px;
    }
    ul {
      padding: 0;
      margin-bottom: 20px;

      li {
        list-style: none;
        padding: 5px;
      }

      code {
        padding: 3px;
        display: inline;
        border: 1px solid darken($background-darker, 15%);
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .component-container {
    &__example {
      > button:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .pillow-example {
    overflow: hidden;
    margin-left: 60px;
    max-width: calc(100% - 60px);

    &__content {
      transition: all 0.2s ease-in-out;

      &-items {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &__content.open {
      transform: translateX(140px);
    }
  }
}

@media screen and (max-width: 480px) {
  .pillow-example {
    &__content {
      &-items {
        grid-template-columns: 1fr;
      }
    }
  }
}
