@import "../../styles/colors";
@import "../../styles/globals";
@import "../../styles/mixins";

.pillow-example {
  min-height: calc(100vh - $header-height);
  width: 100%;
  margin-left: $sidebar-width;
  max-width: calc(100% - $sidebar-width);

  &__content {
    padding: $padding-regular;
    max-width: $content-width-max;

    &-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: $padding-small;
      grid-auto-rows: 1fr;
    }

    &-item {
      border: 1px solid var(--border-color);
      border-radius: $border-radius;
    }

    &-item-body {
      @include flex($jus: center, $ali: center);
      padding: $padding-regular;
      height: 100%;
      width: 100%;
      background-color: $background-darker;
    }
  }
}

.component-container::-webkit-scrollbar {
  display: none;
}

.component-container {
  overflow-y: scroll;

  &__subheading {
    margin-bottom: $padding-regular;
  }

  &__example {
    @include flex($dir: column);
    margin-bottom: $padding-regular;
    background-color: var(--bg-color);
    padding: $padding-regular;
    border-radius: $border-radius;
    gap: $padding-regular;
    color: var(--text-color);
  }

  &__table {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: $border-radius;
    border-collapse: collapse;
    overflow-y: scroll;

    &-header {
      text-align: left;
      padding: $padding-regular;
    }

    &-data {
      padding: $padding-regular;

      &--code {
        padding: $padding-small;
        display: inline;
        border: 1px solid darken($background-darker, 15%);
        border-radius: $border-radius;
        background-color: $background-darker;
      }
    }

    &-row {
      padding: $padding-regular;
      border-top: 1px solid var(--border-color);
    }
  }

  &__api {
    &:not(:last-of-type) {
      margin-bottom: $padding-regular;
    }
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .component-container {
    &__example {
      > button:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .pillow-example {
    overflow: hidden;
    margin-left: 60px;
    max-width: calc(100% - 60px);

    &__content {
      padding-left: 0;
      transition: $transition-regular;

      &-items {
        grid-template-columns: 1fr;
      }

      &--open {
        transform: translateX(200px);
      }
    }
  }
}
