@import "../../styles/colors.scss";
@import "../../styles/globals.scss";
@import "../../styles/mixins.scss";

.pillow-nav {
  @include flex($ali: center);
  @include pos(sticky, $top: 0);
  width: 100%;
  padding: $padding-regular;
  z-index: $z-top;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  &__header {
    @include flex($ali: center);
    min-width: calc(200px - 20px);

    svg {
      margin-right: $padding-small;
      transform: rotate(-65deg);
      fill: var(--text-color);
    }

    h2 {
      font-size: 20px;
      color: var(--text-color);
    }
  }

  & svg {
    width: $icon-large;
    height: $icon-large;
  }

  &__links {
    display: flex;
    width: calc(100% - 180px);
    list-style: none;
    padding: 0 0 0 $padding-regular;
  }

  &__link {
    & a {
      text-decoration: none;
      color: var(--text-color);
      font-weight: 100;
    }

    &.active a {
      font-weight: bold;
    }

    &:not(&--gh):not(:last-child) {
      margin-right: $padding-regular;
    }

    &--gh {
      min-width: $icon-regular;
      height: $icon-regular;
      margin-right: $padding-regular;

      svg {
        color: var(--text-color);
        width: $icon-regular;
        height: $icon-regular;
      }
    }
  }

  &__version {
    font-size: $text-small;
    color: var(--text-color);
    margin-right: $padding-regular;
  }

  .pillow-nav__mobile,
  .pillow-nav__mobile-content {
    display: none;
  }

  .pillow-nav__mobile-content {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    height: calc(100vh - 56px);
    background-color: $background;
  }

  .pillow-nav__mobile-links {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .pillow-nav__mobile-link {
    display: flex;
    margin-bottom: 20px;
  }
}

#display-none {
  width: 0 !important;
  height: 0 !important;
  position: absolute;
}

@media screen and (max-width: 680px) {
  .pillow-nav__links,
  .pillow-nav__link--gh {
    display: none;
  }

  .pillow-nav {
    justify-content: space-between;
  }
  .pillow-nav .pillow-nav__mobile {
    display: flex;
  }

  .pillow-nav .pillow-nav__mobile-content {
    display: flex;
  }
}
