@import "../../styles/colors";
@import "../../styles/globals";
@import "../../styles/mixins";

.pillow-sidebar {
  @include flex($dir: column);
  @include pos(fixed, $left: 0);
  top: $header-height;
  width: $sidebar-width;
  min-height: $content-height;
  padding: $padding-regular;

  &__header {
    text-transform: capitalize;
    margin-bottom: $padding-regular;
    font-size: $text-large;
  }

  &__item {
    color: var(--text-color);
    padding: $padding-small;
    border-left: 2px solid transparent;
    transition: $transition-regular;

    &--active {
      border-left: 2px solid var(--border-color);
    }

    &:not(:last-child) {
      margin-bottom: $padding-regular;
    }
  }

  &__toggle {
    display: none;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .pillow-sidebar {
    transform: translateX(-$sidebar-width);
    transition: $transition-regular;

    &__toggle {
      @include flex($jus: center, $ali: center);
      @include pos(absolute, $top: 0, $right: -60px);
      height: calc(100vh - $header-height-mobile);
      width: 60px;
    }

    &__toggle svg {
      width: $icon-large;
      height: $icon-large;
      color: $highlight;
    }
  }

  .pillow-sidebar.open {
    transform: translateX(0);
  }
}
