@import "../../styles/colors";

.pillow-sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 65px;
  left: 0;
  width: 200px;
  min-height: calc(100vh - 65px);
  padding: 20px;
  border-right: 1px solid #f0f0f0;
  background-color: $background;

  &__header {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 14px;
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__toggle {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .pillow-sidebar {
    transform: translateX(-140px);
    transition: all 0.2s ease-in-out;

    &__toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      height: calc(100vh - 65px);
      width: 60px;
    }

    &__toggle svg {
      width: 40px;
      height: 40px;
      color: $highlight;
    }
  }

  .pillow-sidebar.open {
    transform: translateX(0);
  }
}
