@import "../../styles/colors";
@import "../../styles/globals";
@import "../../styles/mixins";

.pillow-sidebar {
  @include flex($dir: column);
  @include pos(fixed, $left: 0);
  top: $header-height;
  width: $sidebar-width;
  min-height: calc(100vh - $header-height);
  padding: $padding-regular;
  background-color: $background;

  &__header {
    text-transform: capitalize;
    margin-bottom: $padding-regular;
    font-size: $text-large;
  }

  &__item:not(:last-child) {
    margin-bottom: $padding-regular;
  }

  &__toggle {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .pillow-sidebar {
    transform: translateX(-140px);
    transition: all 0.2s ease-in-out;

    &__toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      height: calc(100vh - 65px);
      width: 60px;
    }

    &__toggle svg {
      width: 40px;
      height: 40px;
      color: $highlight;
    }
  }

  .pillow-sidebar.open {
    transform: translateX(0);
  }
}
