@import "../../styles/colors.scss";

.pillow-footer {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
  background-color: $background;
}

@media screen and (max-width: 680px) {
  .pillow-footer {
    flex-direction: column;
  }
}
