@import "../../styles/colors.scss";
@import "../../styles/globals.scss";
@import "../../styles/mixins.scss";
.pillow-footer {
  @include flex($jus: space-between);
  position: relative;
  z-index: $z-top;
  padding: $padding-regular;
  font-size: $text-regular;

  &__links {
    @include flex($ali: center);
    gap: $padding-regular;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .pillow-footer {
    flex-direction: column;

    &__links {
      @include flex($dir: column, $ali: flex-start);
      margin-top: $padding-regular;
    }
  }
}
