@import "../../styles/colors.scss";
@import "../../styles/globals.scss";

.pillow-footer {
  position: relative;
  z-index: $z-top;
  display: flex;
  justify-content: space-between;
  padding: $padding-regular;
  font-size: $text-regular;
  background-color: $background;

  &__links {
    display: flex;
    gap: $padding-regular;
    align-items: center;
  }
}

@media screen and (max-width: 680px) {
  .pillow-footer {
    flex-direction: column;
  }
}
