@import "../../styles/globals";
@import "../../styles/colors";

.pillow-socials {
  display: flex;
  gap: $padding-regular;

  &__link {
    background: none;
    padding: 0;
    color: var(--bg-color);

    svg {
      width: $icon-small;
      height: $icon-small;
    }
  }
}
