@import "../../styles/globals";
@import "../../styles/colors";

.pillow-socials {
  display: flex;
  gap: $padding-regular;

  &__link {
    background: none;
    padding: 0;
    color: var(--site-text-color);

    svg {
      width: $icon-regular;
      height: $icon-regular;
    }
  }
}
