@import "../../styles/colors.scss";
@import "../../styles/globals.scss";
@import "../../styles/mixins.scss";

.pillow-color-picker {
  display: flex;
  align-items: center;
  gap: $padding-regular;
  padding: $padding-small;
  border: 1px solid $border;
  border-radius: $border-radius;
  min-width: 190px;

  &__container {
    @include flex($jus: flex-end);
    gap: $padding-small;
    width: 50%;
  }

  &__label {
    color: $text-color;
    font-size: $text-regular;
  }

  &__input {
    display: flex;
    border-radius: $border-radius-max;
    height: 20px;
    min-width: 20px;
    max-width: 20px;
    border: 1px solid $border;
    padding: 1px;
    outline: none;
    -webkit-appearance: none;

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: none;
      border-radius: $border-radius-max;
    }
  }
}

.colorpick-eyedropper-input-trigger {
  display: none;
}
